<div class=item-wrapper>
  <img src="assets/img/drinks/coca.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/schweppes.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/nestea.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/henniez-bleue.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/henniez-verte.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/bière-bleue.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/bière-blanche.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>

<div class=item-wrapper>
  <img src="assets/img/drinks/nestea.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/henniez-bleue.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/henniez-verte.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/bière-bleue.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>
<div class=item-wrapper>
  <img src="assets/img/drinks/bière-blanche.jpg" alt="">
  <div class="text-content">
    <p class="drink-description">{{drinkTitle}}</p>
    <p class="drink-price">{{drinkPrice}}<span>.00 CHF</span></p>
  </div>
</div>