<p>
  apitest works!
</p>

<button (click)="_srv.sync()">Test Sync</button>
<button (click)="_srv.postBalance()">Test Balance</button>
<button (click)="buy()">Test Buy</button>
<button (click)="_srv.postCredit(10)">Test Credit</button>

<dby-apiview
[products]="_srv.products | async"
[profile]="_srv.profile | async"
></dby-apiview>

<div class="errorbar" [hidden]="!errorMsg">
  <div> Error from: {{errorMsg?.error}}</div>
  <div>{{errorMsg?.desc}}</div>
  <button (click)="_srv.dismissError()">Dismiss</button>
</div>