    header{
        text-align: center;
        img{
            max-width: 30%;
            height: auto;
        }
        h1{
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
            color: #333;
        }
    }