dby-buddy-sidebar{
    float:left;
    width:30%;
    height:100%;
    position: relative;
    background-color: #ccc;
    & > *{
        padding:15px;
        background-color: red;
    }   
}
dby-buddy-store{
    float:right;
    width:70%;
    height:100%;
    background-color: ghostwhite;
}