dby-buddy-sidebar{
    float:left;
    width:20%;
    height:100%;
    position: relative;
    background-color: grey;
}
dby-buddy-store{
    float:right;
    width:80%;
    height:100%;
    background-color: slategrey;
}