<div class="dby-buddy-sidebar-wrapper">
  
  <header (click)="_srv.postSync()">
    <img src="assets/img/logo_ptl.png" alt="logo ptl">
    <h1>Drinking Buddy</h1>
  </header>
  
  <dby-profile></dby-profile>
  
  <button href="" class="btn add-money" (click)="toggleMoneyPanel(true)">
      Add money
  </button>

  <div class="money-panel" [ngClass]="{'visible': addMoneyIsVisible === true}">
    <span></span>
    <button href="" class="btn add-money-10" (click)="addMoney(10)">
     10
    </button>
    <button href="" class="btn add-money-20" (click)="addMoney(20)">
     20
    </button>
    <button href="" class="btn add-money-50" (click)="addMoney(50)">
     50
    </button>  
  </div>

<div class="cart"></div>

  <button href="" class="btn cancel" (click)="cancelAction()">
      Cancel
  </button>
</div>